# .github/workflows/android.yml
name: Android CI

on:
  push:
    branches: [feature/*ci-cd]
  pull_request:
    branches: [feature/*ci-cd]

  workflow_dispatch:
    inputs:
      chosen-os:
        description: "Description workflow_dispatch"
        required: true
        type: choice
        options:
          - Ubuntu
          - macOS

jobs:
  testing:
    environment: testing
    name: Testing examples
    runs-on: ubuntu-latest
    env:
      ENV_SECRET: ${{ secrets.ENV_SECRET}}
      API_URL: ${{ vars.API_URL }}
      NODE_ENV: ${{ vars.NODE_ENV }}
    defaults:
      run:
        working-directory: FluxStore
    steps:
      - name: 游닌 Checkout code
        uses: actions/checkout@v4

      - name: 游릭 Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: 游댌 Show example env
        run: |
          echo "API_URL = $API_URL"
          echo "ENV_SECRET = $ENV_SECRET"
          echo "NODE_ENV = $NODE_ENV"

  build-dev:
    needs: testing
    environment: build-dev
    name: Build Development Android APK
    runs-on: ubuntu-latest

    env:
      ENV_SECRET: ${{ secrets.ENV_SECRET}}
      API_URL: ${{ vars.API_URL }}
      NODE_ENV: ${{ vars.NODE_ENV }}
    # 拘勇 Set default working directory to FluxStore/
    defaults:
      run:
        working-directory: FluxStore

    steps:
      - name: 游닌 Checkout code
        uses: actions/checkout@v4

      - name: 游릭 Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: 游댌 Show chosen-os DEV
        run: |
          echo "CHOSEN_OS = ${{ github.event.inputs.chosen-os }}"
          echo "EVENT_NAME = ${{ github.event_name }}"

      - name: 游댌 Show Build info DEV
        run: |
          echo "ENV_SECRET = $ENV_SECRET"
          echo "API_URL = $API_URL"
          echo "NODE_ENV = $NODE_ENV"

  build-prod:
    if: github.event_name == 'workflow_dispatch'
    needs: testing
    environment: build-prod
    name: Build Production Android APK
    runs-on: ubuntu-latest

    env:
      ENV_SECRET: ${{ secrets.ENV_SECRET}}
      API_URL: ${{ vars.API_URL }}
      NODE_ENV: ${{ vars.NODE_ENV }}

    # 拘勇 Set default working directory to FluxStore/
    defaults:
      run:
        working-directory: FluxStore

    steps:
      - name: 游닌 Checkout code
        uses: actions/checkout@v4

      - name: 游릭 Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: 游댌 Show chosen-os PROD
        run: |
          echo "CHOSEN_OS = ${{ github.event.inputs.chosen-os }}"
          echo "EVENT_NAME = ${{ github.event_name }}"

      - name: 游댌 Show Build info PROD
        run: |
          echo "ENV_SECRET = $ENV_SECRET"
          echo "API_URL = $API_URL"
          echo "NODE_ENV = $NODE_ENV"
  deploy:
    needs: build-prod
    environment: build-prod
    name: Deploy
    runs-on: ubuntu-latest
    env:
      ENV_SECRET: ${{ secrets.ENV_SECRET}}
      API_URL: ${{ vars.API_URL }}
      NODE_ENV: ${{ vars.NODE_ENV }}
    steps:
      - name: 游댌 Show Deploy info
        run: |
          echo "ENV_SECRET = $ENV_SECRET"
          echo "API_URL = $API_URL"
          echo "NODE_ENV = $NODE_ENV"
      - name: 游댌 Show secrets.GITHUB_TOKEN
        run: echo "GITHUB_TOKEN = ${{ secrets.GITHUB_TOKEN }}"
