# .github/workflows/android.yml
name: Android CI

on:
  push:
    branches: [feature/*ci-cd]
  pull_request:
    branches: [feature/*ci-cd]

  workflow_dispatch:
    inputs:
      chosen-os:
        description: "Description workflow_dispatch"
        required: true
        type: choice
        options:
          - Ubuntu
          - macOS
env:
  ENV_SECRET: ${{ secrets.ENV_SECRET}}
  API_URL: ${{ vars.ENV_API_URL }}
  NODE_ENV: ${{ vars.NODE_ENV }}

jobs:
  examples:
    environment: examples
    name: Testing examples
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: FluxStore
    steps:
      - name: 游닌 Checkout code
        uses: actions/checkout@v4

      - name: 游릭 Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: 游댌 Show example env
        run: |
          echo "API_URL = $API_URL"
          echo "ENV_SECRET = $ENV_SECRET"
          echo "NODE_ENV = $NODE_ENV"

      - name: 游댌 Show example secrets
        run: |
          echo "ENV_SECRET = ${{ secrets.ENV_SECRET}} - ${{ vars.ENV_SECRET}}"
          echo "API_URL = ${{ vars.ENV_API_URL}} - ${{ secrets.ENV_API_URL}} "
          echo "NODE_ENV = ${{ vars.ENV_API_URL}} -  ${{ secrets.ENV_API_URL}}"

  build:
    environment: build
    name: Build Android APK
    runs-on: ubuntu-latest

    # 拘勇 Set default working directory to FluxStore/
    defaults:
      run:
        working-directory: FluxStore

    steps:
      - name: 游닌 Checkout code
        uses: actions/checkout@v4

      - name: 游릭 Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: 游댌 Show chosen-os
        run: echo "CHOSEN_OS = ${{ github.event.inputs.chosen-os }}"

      - name: 游댌 Show EVENT_NAME
        run: echo "EVENT_NAME = ${{ github.event_name }}"

      - name: 游댌 Show build API_URL - ENV_SECRET
        run: echo "API_URL = $API_URL -- ENV_SECRET = $ENV_SECRET "

      - name: 游댌 Show secrets build
        run: echo "ENV_SECRET = ${{ secrets.ENV_SECRET}} -- ENV_API_URL = ${{ secrets.ENV_API_URL}}"

  deploy:
    if: github.event_name == 'workflow_dispatch'
    needs: build
    environment: production
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 游댌 Show repo repository
        run: echo "REPO = ${{ github.repository }}"

      - name: 游댌 Show repo ref
        run: echo "REPO = ${{ github.ref }}"

      - name: 游댌 Show GITHUB EVENT
        run: echo "EVENT = ${{ toJson(github.event) }}"

      - name: 游댌 Show API_URL
        run: echo "API_URL = ${{ secrets.API_URL}}"

      - name: 游댌 Show NODE_ENV
        run: echo "NODE_ENV = $NODE_ENV"

      - name: 游댌 Show secrets.GITHUB_TOKEN
        run: echo "GITHUB_TOKEN = ${{ secrets.GITHUB_TOKEN }}"
